@inherits LayoutComponentBase

<PageTitle>flashplus</PageTitle>

<div id="top"></div>
<header class="center-vertical">
    <h1 class="logo"><NavLink class="hover-underline-animation" href="/"><span class="text1">FLASH</span><span class="text2">PLUS+</span></NavLink></h1>

    <div class="links">

        <NavLink href="/">Home</NavLink>
        <NavLink href="#about">About</NavLink>

    </div>

</header>

@Body
