@page "/"
@layout UnauthorizedLayout

<PageTitle>Home</PageTitle>

<div class="home-container center-vertical">
    <div class="text">
        <h1>The Best Solution For Your Revision</h1>
        <p>Create, view and search flashcard sets today.</p>
        <div class="buttons">
            <NavLink href="register"><button class="getstarted">Get Started</button></NavLink>
            <NavLink href="login"><button class="login">Login</button></NavLink>
        </div>
    </div>
    <div class="card-container">
        <div class="card"></div>
    </div>
</div>

<div id="about" class="about-container center-horizontal">
    <div class="text">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere illo saepe ullam incidunt rerum. Quis voluptates facilis repudiandae blanditiis dolorem totam debitis nostrum consequatur, nemo aperiam asperiores saepe minima laborum.</p>
    </div>

</div>

