@page "/dashboard"
@layout AuthorizedLayout

@inject ILocalStorageService localStorage

<PageTitle>Dashboard</PageTitle>

<div class="center-horizontal">
    <div class="dashboard-container">

        <div class="title-container">
            <h3>Dashboard</h3>
            <p>Welcome Back @Username</p>
        </div>

        <div class="menu-container">

            <NavLink class="select-container1" href="flashcardset/create">
                <h1 class="select-text">CREATE</h1>
                <p>A new set of flashcards</p>
            </NavLink>


            <div class="stack-container">

                <div class="menu-container">
                    <NavLink class="select-container2" href="flashcardset/library">
                        <h1>VIEW</h1>
                        <p>Your own flashcard sets</p>
                    </NavLink>
                </div>

                <div class="menu-container">
                    <NavLink class="select-container2" href="flashcardset/search">
                        <h1>SEARCH</h1>
                        <p>A vast library of flashcards created by others</p>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    string Username;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Username = await localStorage.GetItemAsync<string>("Username"); // Gets username from local storage
        }
        catch
        {
            Username = null;
        }
    }
}
