@page "/flashcardsetlibrary"
@layout AuthorizedLayout

@inject IFlashcardSetDataAccess FlashcardSetDataAccess
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code{
    string SessionID { get; set; }
    bool IsInitialized { get; set; }
    int pageNo = 1;
    int pageTotal = 1;
    int setNo = 0;

    FlashcardSetModel flashcardSetModel = new FlashcardSetModel();

    protected override async Task OnInitializedAsync()
    {
        SessionID = await localStorage.GetItemAsync<string>("SessionID");
        flashcardSetModel = await FlashcardSetDataAccess.GetAllFlashcardSetsByUserAsync(SessionID);

        Console.WriteLine(flashcardSetModel.FlashcardSets[pageNo-1][0]);

        int pageTotal = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(flashcardSetModel.FlashcardSets.Count / 6)));

        IsInitialized = true;


    }

    public async Task LoadFlashcardSet(int SetID)
    {
        await localStorage.SetItemAsync("SetID", SetID);
        NavigationManager.NavigateTo("/viewflashcardset");
    }




}

@if (IsInitialized)
{
    <PageTitle>View Flashcard Set</PageTitle>

    <div class="center-horizontal">

        <div class="library-container">

            <div class="title-container">
                <h3>Flashcard Set Library</h3>
            </div>

            <div class="set-row">
                @foreach (var flashcardset in flashcardSetModel.FlashcardSets.Take(6))
                {
                    <div class="flashcardset" onclick="@(async () => await LoadFlashcardSet(Convert.ToInt32(flashcardset[2])))">
                        <h2>@flashcardset[0] |</h2>
                        <p>@flashcardset[1]</p>
                    </div>
                }
            </div>

            <div class="center-horizontal">
                <button class="nextcard-button">&lt;</button>
                <p id="card-counter">@pageNo / @pageTotal</p>
                <button class="nextcard-button">&gt;</button>
            </div>

        </div>

    </div>
}
