@page "/profile"
@layout AuthorizedLayout

@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<div class="form-container center-horizontal center-vertical">
    <button class="form-submit center-horizontal center-vertical" onclick="@HandleLogout">Logout</button>
</div>

@code {
    public async Task HandleLogout()
    {
        await localStorage.ClearAsync();
        NavigationManager.NavigateTo("/");
    }
}
