@page "/profile"
@layout AuthorizedLayout

@inject IEntryDataAccess EntryDataAccess
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code {
    bool IsInitialized { get; set; }
    EntryService entryService;


    protected override async Task OnInitializedAsync()
    {
        entryService = new EntryService(EntryDataAccess, localStorage, NavigationManager);
        IsInitialized = true;
    }
}
@if(IsInitialized)
{
    <div class="form-container center-horizontal center-vertical">
        <button class="form-submit center-horizontal center-vertical" onclick="@entryService.HandleLogout">Logout</button>
    </div>
}
