@inherits LayoutComponentBase

@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code{
    string SessionID { get; set; }
    bool IsInitialized { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // User has a valid session, display authenticated content
            SessionID = await localStorage.GetItemAsync<string>("SessionID");
        }
        catch
        {
            //if not then redirect to login
            NavigationManager.NavigateTo("/login");
        }

        IsInitialized = true;
    }
}

@if(IsInitialized)
{
    <div id="top"></div>
    <header class="center-vertical">
        <h1 class="logo"><NavLink class="hover-underline-animation" href="/"><span class="text1">FLASH</span><span class="text2">PLUS+</span></NavLink></h1>

        <div class="links">

            <NavLink href="/">Home</NavLink>
            <NavLink href="#about">About</NavLink>
            <NavLink href="dashboard">Dashboard</NavLink>
            <NavLink href="profile"><button class="profile-button">Profile</button></NavLink>

        </div>

    </header>

    @Body //displays the rest of the HTML
}